[2017-08-09 13:47] marchunter opened #1 "MBTR.get_num_features()"
this method is no longer working it should be changed to:

    def get_number_of_features(self):
        """Used to inquire the final number of features that this descriptor
        will have.

        Returns:
            int: Number of features for this descriptor.
        """
        n_features = 0
        n_elem = self.n_elements

        if self.k >= 1:
            n_k1_grid = self.get_k1_set

[2017-08-09 13:48] marchunter opened #2 "examples, mbtr.py"
The mbtr.py in examples no longer works with the new version

[2017-08-09 18:48] lauri-codes commented on #2
Fixed with latest commit.

[2017-08-09 18:48] #2 closed

[2017-08-09 18:48] lauri-codes commented on #1
Fixed with latest commit.

[2017-08-09 18:48] #1 closed

[2018-12-10 22:00] wushanyun64 opened #6 "error installing dscribe on window 10 with jupyter notebook terminal"
Hi:

I used command >pip install dscribe on jupyter notebook terminal, and it failed with message:

[code]
Can anyone help me with this problem?

[2018-12-11 09:31] lauri-codes commented on #6
Hi and thank you for your interest in DScribe! The package is developed and tested on a Linux-environment, and it seems that some of the compilation flags are not working on Windows. We will take a look if we can make the package compile also on Windows.

[2018-12-11 16:45] wushanyun64 commented on #6
Hi Lauri: Thanks, that's good to know, I'll try to get a Linux sub-system on my windows.

[2018-12-11 17:10] lauri-codes commented on #6
I fixed the problem with not finding m.lib, but ran into other problems with unresolved symbols that I could not fix. Currently, it seems that support for Windows is for now not an option because we lack the skills for getting the C/C++ extensions compiled on both Unix and Windows machines. So if possible, try getting access to a Linux or a Mac for now.

[2018-12-12 01:31] wushanyun64 commented on #6
Thanks for the effort Lauri! I got a WSL on my computer and now it can install and run dscribe with no problem. For now, I also suggest anyone who has the same problem as mine trying WSL as a simple walk around.
Best,

[2018-12-20 06:46] muu4649 opened #7 "MBTR about mbtr.create() ---displays only features"
HI! I have a question. When I use mbtr.create() , it returns array with shape[positon, features] such as below.

  (0, 0)	0.00844207
  (0, 1)	0.012111196
  (0, 2)	0.01720821
  (0, 3)	0.024216358
  (0, 4)	0.033753663
  (0, 5)	0.046600137
......

I want to display only features such as below .

0.00844207
0.012111196
0.01720821
0.024216358
0.033753663
0.046600137

How should I do?

Thanks!

[2018-12-20 11:57] muu4649 commented on #7
Thank you so much!!  And Sorry I overlooked that.

I came up to one question after this . (I shouldn't write it in this issue)
 Original paper expressed that canonical choices of gk for 'k' =1,2,3,4....
But , dscribe module's 'k' is from 1 to 3.
In dscribe perhaps k=1 : atom counts, k=2 : (inverse) distances, k=3 : angles, I think.
Is  dihedral angles(k=4) not included in dscribe?
Best regards

[2018-12-20 12:15] marchunter commented on #7
You are right, dihedral would be the logical continuation. So far, k = 4 is not implemented since for machine learning it generally does not improve the overall accuracy. Unless there is a clear need from the users' side, we leave it at k = 3.

[2018-12-20 14:05] muu4649 commented on #7
OK.Thanks!

[2018-12-20 14:05] #7 closed

[2018-12-27 07:57] ardunn opened #8 "Error installing with MacOS"
Installing from `pip install dscribe` and also trying from source, my install fails at compilation with:

[code]

Any ideas on how to fix this?

[2018-12-27 07:59] ardunn commented on #8
If it helps, my system specs are:

OS: OSX 10.14.2
Python: 3.6.2

[2018-12-27 10:33] lauri-codes commented on #8
Thank you for letting us know. We have just successfully tested installing on mac, but with different OS and python version. We will look into this and keep you updated.

[2018-12-27 10:41] lauri-codes commented on #8
Could you check what version of the Command Line Tools you currently have, and try updating them (see e.g. https://stackoverflow.com/questions/42538171/xcode-command-line-tools-how-to-update). If this does not help, let us know.

[2018-12-28 05:54] ardunn commented on #8
Hi @lauri-codes I have Command Line Tools 10.1

[2018-12-28 13:31] lauri-codes commented on #8
Hi @ardunn,

It seems that the issue actually comes from the newer version of Command Line Tools. At least with CLT version 9.4.1 there is no issue. We will try to resolve the issue, in the meantime downgrading CLT should help.

[2018-12-28 23:16] lauri-codes commented on #8
Hi @ardunn,

Could you check if the problem is now fixed in the git master branch or in the newest pypi version (dscribe 0.1.8). I did manage to install everything under OSX 10.13.6, Python 2.7 and CLT: 10.1.

The problems seems to be in the compilation flags distutils uses when compiling the C++ extension included with DSCribe. Newer versions of CLT come with clang that does not support the "-std

[2019-01-10 07:35] lauri-codes opened #9 "Allow changing descriptor setup through python properties"
Currently the code has inconsistent handling for changing properties of the descriptor objects. Many of the properties are available through public attributes of the objects, but sometimes changing them after initialization can lead to a broken setup.

This should be fixed by introducing a python property for each attribute that can be changed after the construction of an object. A property can th

[2019-01-23 18:11] lauri-codes commented on #8
Closing this issue for now.

[2019-01-23 18:11] #8 closed

[2019-02-11 13:53] lauri-codes opened #11 "Allow insertion of atomic species by symbol"
Currently all descriptors expect the atomic species to be represented by the atomic number. It would be nice to also have the possibility of inserting the species by atomic elements, as in ASE with "symbols" parameter.

[2019-03-13 11:39] lauri-codes opened #12 "Batch creation"
Currently the library provides the `batch_create`-function for handling large datasets. I think it would be clearer for users if this functionality would be directly available in the `create`-method of the descriptor objects. This would however require that all the arguments taken by the create-function will need to be able to handle multiple values (one per structure). Needs some testing to see i

[2019-03-18 14:29] lauri-codes commented on #11
Now the atomic species can either be given with `atomic_numbers` as before, or as a list of either chemical symbols or atomic numbers through the new `species`-parameter. The examples and documentation has been updated to use this new more flexible style.

[2019-03-18 14:29] #11 closed

[2019-04-09 13:32] lauri-codes opened #13 "Periodicity for ACSF"
Currently, ACSF does not support periodic systems. It could, however, be easily extended to support periodicity by using the cutoff radius to determine the periodic neighbours.

[2019-05-08 01:29] lmj1029123 opened #14 "Derivative of SOAP"
Hi,

Is there a way to get the derivative of the SOAP descriptor corresponding to the positions? I believe the derivative is necessary if I want to do force training. I couldn't find documentation about it. Thanks!

[2019-05-08 08:29] Aki78 commented on #14
Hi,
Analytical derivatives of SOAP for the GTO basis are possible, but there will be a lot of grinding calculations (see the last few pages in https://github.com/SINGROUP/SOAPLite/blob/master/soapDoc.pdf
) . Numerical derivatives are also possible and a bit easier to implement, but the computations will be heavy and would be quite slow. At the moment we don't have plans to implement either.

[2019-05-08 16:19] lmj1029123 commented on #14
Thanks!

[2019-05-08 16:19] #14 closed

[2019-06-26 13:43] HadXu opened #16 "pip install error in MacOS 10.14.1 python3.6"
`nstalling collected packages: dscribe
  Running setup.py install for dscribe ... error
    Complete output from command /Users/xx/anaconda3/envs/py36/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/fk/by0sbjf95jd7cj8qddj6y0_40000gn/T/pip-n5ti89v0-build/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code

[2019-06-26 19:03] lauri-codes commented on #16
Hi @HadXu,

Thank you for reporting this issue. We have experienced this problem before, and in principle know what is causing it. The issue is a bit hard for me to reproduce since this problem is not present in the macOS computers that we have tested on. It seems that the issue arises only there is a certain mismatch between the Xcode version you are using now and what Xcode version was used to b

[2019-06-26 23:00] koukyo1994 commented on #16
I faced the same problem but successfully installed with the advice, thanks!

[2019-06-27 01:29] HadXu commented on #16
OOOOOK,Thanks

[2019-06-27 01:29] #16 closed

[2019-07-06 03:11] HadXu opened #17 "linux install error?"
`gcc: error: unrecognized command line option '-fno-plt'`

[2019-07-07 18:11] lauri-codes commented on #17
Hi!

You seem to have a python version that has been compiled with a newer version of GCC that what you are currently using. Can you try upgrading to a newer GCC version (>= GCC 6)? On Ubuntu, you can [follow this guide](http://tuxamito.com/wiki/index.php/Installing_newer_GCC_versions_in_Ubuntu)

If updating gcc is not possible, then you will need to modify the compilation flags manually. Reply he

[2019-07-12 14:00] kunalghosh opened #18 "NaN values in K3 of MBTR when using "angles" as the geometry function"
Package versions:
* `ase 3.17.0`
* `dscribe 0.2.6`
* `Python 3.7.1`

Download the XYZ file : https://users.aalto.fi/~ghoshk1/data.xyz

[code]

The respective variables in the MBTR definition above were obtained as follows:

[code]

Now create the MBTR for the 26th atom and check for `Nan`

[code]

However, if the K3 in MBTR is definition to use `cosine` function instead of `angle` then `Nans` don'

[2019-07-12 17:23] lauri-codes commented on #18
Hi @kunalghosh,

Thank you for reporting the issue! The problem is now fixed in the git master branch, and the fix will be included in the next release (>= 0.2.8).

The problem was that sometimes, due to floating point imprecision, the cosine values were ever so slightly outside the range [-1, 1]. This caused NaNs when the inverse cosine was called to get the angle.

[2019-07-12 17:23] #18 closed

[2019-07-21 20:10] lauri-codes commented on #17
Closing this issue for now.

[2019-07-21 20:10] #17 closed

[2019-08-06 21:18] lchaoyi opened #19 "Can I set nmax and lmax larger?"
I am using SOAP to describe the local atomic environment of amorphous materials. However, I notice that there is a limit for number of basis functions and lmax (nmax cannot exceed 12 and lmax cannot exceed 9).

I was wondering if I could set a larger value for nmax and lmax. That could help me to describe the local environment better.

[2019-08-07 07:57] lauri-codes commented on #19
Hi @lchaoyi,

When using the GTO-radial basis, there is a hard limit of lmax=9. This is simply because the analytical formulas have not been yet extended beyond that (very tedious work).

If you know that you need to have a more detailed sampling of the neighbourhood, I would suggest switching to the polynomial radial basis (in the SOAP constructor specify: rbf="polynomial"), which supports bigger

[2019-08-07 15:00] lchaoyi commented on #19
Thank you for your reply. That helps me a lot. However, when I set rbf as polynomial and let nmax be 18, the program shows ValueError：
Could not calculate normalization factors for the polynomial basis in the domain of real numbers. Lowering the number of radial basis function is advised.
Then I tried a smaller value of nmax (12), the program could run properly. I was wondering could I use Dscribe

[2019-08-07 15:17] lauri-codes commented on #19
Hi @lchaoyi,

The problem that you are facing relates to the fact that if you try to fit too many radial basis functions to a small radius (small rcut), they are very hard to numerically orthonormalize. This is essentially the error you are getting. You have reached the maximum density at which the radial basis can be sampled with your current rcut. You can probably increase nmax by increasing rcu

[2019-08-07 15:22] lchaoyi commented on #19
Hi @lauri-codes

Thank you for your information. I have a better understanding of SOAP descriptor. I would look into details of my projects and then find out the influence of number of radial basis. I would let you know if I really need large number of basis.

I really appreciate your generous help.

[2019-08-07 18:53] #19 closed

[2019-08-13 09:12] lauri-codes opened #20 "Radial decay for SOAP"
As mentioned in [1] and [2], radial scaling of the SOAP features can be beneficial especially when using machine learning methods that put equal weight to the different features (e.g. kernel methods). Inspired by this discussion, this feature should be added to our SOAP implementation.

The initial implementation would simply scale the atom centered gaussian with a radial decay function, as mentio

[2019-08-13 12:45] bartolsthoorn opened #21 "SOAP kernel vs descriptor"
This is not a technical question but more a question about the philosophy of SOAP.

The way I understand SOAP is that it actually provides the kernel itself directly. In that way, it is more elegant than for example the old Coulomb matrix approach, where you first produce 1D array descriptors and then later choose a kernel (e.g. rbf) and fit.

However, in practice SOAP is often implemented as an i

[2019-08-13 13:21] lauri-codes commented on #21
Hi @bartolsthoorn!

Thank you for the great question! This is a topic that has not been so clear to me either, but I will try to illustrate my view on it here.

You are indeed right that only by taking the inner product of the power spectras you will arrive at the correct overlap of the atomic environments. This original definition of the "SOAP kernel" (=polynomial kernel) is also explicitly [ment

[2019-08-13 14:20] sirmarcel opened #22 "ACSF descriptor structure"
Hi,

great code!

I'm currently developing an interface to use `dscribe` with [`cmlkit`](https://github.com/sirmarcel/cmlkit/tree/develop-2.0).

I have a question regarding the ACSF implementation: What exactly is the structure of the resulting descriptor? In my tests, when I specify only one symmetry function with one species, I regardless get *two* entries per atom in the result. Shouldn't that

[2019-08-13 14:44] sirmarcel commented on #21
Hi,

(hope I'm not disturbing y'all),

Just wanted to second @lauri-codes; in our benchmarking (a paper is forthcoming), SOAP also performs extremely well with the Gaussian kernel!

I think it's perfectly valid to view SOAP as a descriptor -- it is simply a vector with the "correct" invariances (rotation, translation, etc.) and can be directly derived as such. Computing the "overlap" integral is o

[2019-08-13 17:09] lauri-codes commented on #21
Hi @sirmarcel,

Good to hear that you have had similar experiences!

I think the choice of using a polynomial kernel of the form `<p, p'>^\zeta` (eq. 36 in [1]) when measuring the similarity of two environments and dubbing this the "SOAP kernel" was a bit misleading. As far as I understand, this particular kernel is not required for some special reason but is a decision made by the authors. They c

[2019-08-13 17:22] lauri-codes commented on #22
Hi @sirmarcel,

Thanks for the feedback! Good to hear that you're interested in interfacing with DScribe: this is exactly the kind of usage we were aiming for! (Some shameless self-promotion: do also consider using MBTR from DScribe, of course after benchmarking it against qmmlpack for speed and flexibility :) We got some nice speedups for it in DScribe 0.2.8)

The very first extra element you are

[2019-08-14 07:39] sirmarcel commented on #22
Hi Lauri,

I'm planning to add interfaces for at least SOAP, ACSF and MBTR, and a side-effect of our benchmark paper will (hopefully) be a reasonably thorough benchmark of your implementations against the "canonical" ones. :) (So far it looks like there is no particularly large difference for SOAP, but let's see.)

Thanks for the answer -- that explains it! I would definitely suggest adding a flag

[2019-08-14 08:15] lauri-codes commented on #22
Hi Marcel,

That benchmark sounds super interesting! Please keep us updated if you find anything that might be of interest to us (both good or bad news are appreciated).

We have only applied very simple versions of ACSF in our studies, and thus our interface with a single cutoff has worked and there has not been any real incentive to update it. But I have been thinking about improving it for the

[2019-08-14 08:19] sirmarcel commented on #22
Hi Lauri,

Ok, that makes sense. I'll add the same post-processing we apply to the `RuNNer` ACSFs, which work the same way (i.e. not structurally distinguishing the central atom), and simply make zero-padded blocks.

Interesting side-note: As far as I can tell, neither SOAP implementation does anything like this, and yet it still works without post-processing for KRR. Probably because including th

[2019-08-14 08:36] lauri-codes commented on #22
Ok, good.

I would indeed agree that the fact that SOAP works to some degree with KRR is due to the central atom being encoded in the output. The central atom will get a very big output for the l=0 terms (it looks completely angularly uniform from the center). So if the number of species, nmax and lmax are kept moderate, these l=0 terms will be enough for a kernel to distinguish the central atom t

[2019-08-14 08:36] #22 closed

[2019-08-15 10:37] #21 closed

[2019-08-19 11:35] jungsdao opened #23 "error installing dscribe in WSL ubuntu in Win10"
I've used dscribe without any problem. When I erased WSL in my labtop ans reinstalled it, I got problem in the install. Following is my error message.
I've check that I have proper version of wheel and can't think of any specific reason why It gives this problem. Any help would be appreciated.
Thanks in advance

--Following is my error message --

Collecting dscribe
  Using cached https://files.py

[2019-08-19 11:49] lauri-codes commented on #23
Hi @jungsdao,

The error message seems to suggest that your WSL installation is missing the GNU Compiler Collection (gcc): `unable to execute 'gcc': No such file or directory`

I have no experience with WSL, but I would think that gcc can be installed through the terminal with a command like this: `sudo apt install gcc g++`

Unlike some python libraries, DScribe requires that certain code extensio

[2019-08-20 09:05] bartolsthoorn commented on #21
Thank you all for the insightful comments, very useful! :+1:

[2019-08-20 16:41] lauri-codes commented on #23
Closing for now.

[2019-08-20 16:41] #23 closed

[2019-08-22 07:27] bartolsthoorn opened #24 "soaplite nMax error message"
Small thing: the number of basis functions can go up to 13, but the error message says 12, which one is it?
[code]

[2019-08-22 09:18] Abdelrahmansameh opened #25 "REMatch Kernel overflow"
Hello, I'm wondering if the REMatch kernel works or not, as I seem to be having the same error when I try to use it.
Here is an example code for reference

water = build.molecule("H2O")`
s =  descriptors.SOAP(species=["H", "O", "C"], rcut=2, nmax=5, lmax=5, crossover=True)
t = s.create(water)
k = kernels.REMatchKernel(metric = "linear")
print(k.get_global_similarity(k.create([t, t])))

This snippe

[2019-08-22 09:38] lauri-codes commented on #25
Hi @Abdelrahmansameh,

With the REMatch kernel, you will have to be careful about large numbers ending up in the Sinkhorn algorithm. Depending on your chosen metric, you may need to for example normalize the input in some way. This is also mentioned in the [REMatch tutorial](https://singroup.github.io/dscribe/tutorials/kernels.html).

With the SOAP descriptor and a linear metric in particular, jus

[2019-08-22 09:45] Abdelrahmansameh commented on #25
Thank you @lauri-codes for the quick response! I will go ahead and do that.

[2019-08-22 09:45] #25 closed

[2019-08-22 12:17] lauri-codes commented on #24
Hi @bartolsthoorn,

This assertion is actually obsolete. Thanks for pointing it out. There is no single hard limit for nmax as it depends on rcut as well, see issue #19. This check has been now changed in the master branch. You can try it out by installing directly from source git with the instructions found [here](https://singroup.github.io/dscribe/install.html). This change will also be added to

[2019-08-22 12:18] #24 closed

[2019-08-22 13:18] bartolsthoorn commented on #24
OK thank you!

[2019-09-04 14:56] sirmarcel opened #27 "MBTR Weighting function"
Hi everyone,

another quick question: In MBTR, is the `exp` weighting function always using the distance? I.e. is the `x` in `exp(-s*x)` the distance?

Thanks,

Marcel

[2019-09-04 15:05] lauri-codes commented on #27
Hi,

For k=2, x is the distance between the two atoms. For k=3, x is the length of the triangle perimeter formed by the three atoms, A->B->C->A.

This is mentioned [here](https://singroup.github.io/dscribe/doc/dscribe.descriptors.html#dscribe.descriptors.mbtr.MBTR) but not in the tutorials. I will add something about it.

[2019-09-04 15:09] sirmarcel commented on #27
Very good! Thank you. One more question:

In this paragraph:

Is this an intrinsic side-effect of using `l2_each`, i.e. normalising the `k`-terms by `l2`, or are you doing something additionally to get this to work?

[2019-09-04 15:44] lauri-codes commented on #27
Also a very good question: The normalization alone is not sufficient in order to get completely identical output. Basically I have in the code a part that ensures that only one translationally unique combination of atoms (doubles, triples) is included for periodic systems. In periodic systems the system is extended beyond the cell boundaries, and thus the same combination may be repeated multiple

[2019-09-04 15:53] sirmarcel opened #28 "MBTR Normalisation Details"
Hi @lauri-codes,

As mentioned in #27, I'd be *very* interested in learning a bit more about how the MBTR normalisation works under the hood, and how you manage to reduce double-counting in case of supercells, and how all of this relates to normalisation. Wouldn't removing symmetrically identical pairs/triplets already ensure identical MBTRs, regardless of normalisation?

Cheers,

Marcel

[2019-09-04 15:53] sirmarcel commented on #27
Thank you!! Let's discuss further in #28.

[2019-09-04 15:53] #27 closed

[2019-09-04 18:47] lauri-codes commented on #28
Hi @sirmarcel,

Ok, here goes my explanation on the topic using an example:

Let's consider a toy system that is periodic and has just two identical atoms. These atoms are 1 angstrom apart in the x-axis, but have the same y and z coordinates. The simulation cell is cubic 10Å x 10Å x 10Å, with cell vectors along the cartesian coordinates. Now let's consider two ways to position the two atoms within

[2019-09-05 10:08] sirmarcel commented on #28
Thanks for the thorough explanation. I think I understand your approach now.

As far as I know, in `qmmlpack` (the original MBTR implementation), this problem is tackled in a different way: One index is always kept inside the original unit cell, so you don't get double-counting when extending the unit cell. I think this is identical in outcome to your approach, but I might be wrong. I'll try this

[2019-09-05 10:39] lauri-codes commented on #28
Hi,

Actually the method of demanding one index to be inside the original unit cell does not prevent the double counting entirely. I did try that at first (it was mentioned in the arXiv paper as well), but it was not sufficient enough. It does prevent double counting for combinations that are contained entirely within one cell, but not the double counting of atomic combinations that cross the boun

[2019-09-08 15:33] sirmarcel commented on #28
Hi Lauri,

sorry to keep bothering you! Can you give an example for when this happens (or is the one you give above one)? I'm having a hard time visualising it, and I want to make sure I get it right...!

[2019-09-09 18:25] lauri-codes commented on #28
Hi @sirmarcel,

The above example is the clearest example that I can think of which demonstrates the core problem of double counting pairs/triples that span across cell borders.

In the package itself the lines of code that prevent the double counting are 128-132 (for k=2) and 234-243 (for k=3) of **dscribe/libmbtr/mbtr.cpp** in the current version (master branch commit 087600deb5d985dec955dfa7e47

[2019-09-15 12:55] lauri-codes commented on #28
Closing for now, reopen if needed.

[2019-09-15 12:55] #28 closed

[2019-09-15 13:30] sirmarcel commented on #28
Thanks Lauri -- I haven't forgotten about this. I'm a bit busy with other stuff, but I'll come back to this. I ran a few tests and the difference in implementation is causing some kind of odd discrepancies between `qmmlpack` and `dscribe` that I want to get to the bottom of. For your simple example, for instance, both seem to be precisely identical, but not for the supercells in your tutorial. Som

[2019-09-17 10:29] sirmarcel commented on #28
Hi @lauri-codes,

I'm having some trouble really understanding your example above. I think `qmmlpack` takes the perspective that distances are always (unless you explicitly de-duplicate) counted directionally, so by default *everything* is double-counted, which... also yields a consistent result in your example?

Here is me trying to illustrate the approaches:

[code]

Have I correctly understood

[2019-09-17 13:56] lauri-codes commented on #28
Hi @sirmarcel,

In the case of pairwise terms (k=2) it is indeed functionally identical if you double the distances (=consider the directionality) that are entirely within the original cell (`qmmlpack`) or half the distances that go beyond the original cell (`dscribe`). Both achieve the same goal, but the output differs by a constant of two.

The problem arises when considering triplets (k=3), whe

[2019-09-17 15:31] lauri-codes commented on #13
Now implemented and tested in git master branch.

[2019-09-17 15:31] #13 closed

[2019-09-17 15:42] sirmarcel commented on #28
Hm, okay... Do you also have a minimal example for this case? I'm really sorry to keep jammering about this, but somehow I'm finding it extremely difficult to reason about this. 😬

[2019-09-17 16:23] lauri-codes commented on #28
Hi @sirmarcel,

Don't worry, I've also struggled with this.

Here is a minimal example for k=3. Lets say that we can consider atoms only in the xy-plane (it is just easier to visualize, the logic extends to 3D).

[code]

The original cell now has two atoms: 09 and 10. For simplicity lets only consider triplets with the smallest L-shape.

Triplets 03-09-10 and 09-15-16 are translationally symmetric

[2019-09-26 22:12] sirmarcel commented on #13
Can you already predict in which release version this will be enabled?

[2019-09-27 11:49] lauri-codes commented on #13
This will be included in the next release (0.3.0), but I will include a couple of other improvements before I make that release. If you need the periodicity urgently just clone the master branch and install it.

[2019-09-27 16:08] sirmarcel commented on #13
Okay, thanks. No worries, just wanted to make sure I get the version requirement right for `cscribe`.

[2019-10-11 21:03] ardunn opened #29 "requirements interference with matminer"
We use dscribe to implement some of the featurizer classes we have in matminer, and we'd like to keep current with improvements to dscribe (it really is a great code thank you for making it!!). Version 0.1.8 works great and we are trying to upgrade to newer versions.

However it seems there are some problems between dscribe's pip requirements (in particular 0.2.5) and matminer's. For one, it seems

[2019-10-11 21:38] lauri-codes commented on #29
Hi @ardunn!

Thanks for your message. We would, of course, be very glad to help with this. Matminer is a great piece of software and we are very glad to hear that you're interested in DScribe.

Some of the old versions of DScribe had a bit superfluous dependencies but the newest version are much lighter on them. Is there any specific reason for why you want to go with DScribe 0.2.5 and not the new

[2019-10-11 21:58] ardunn commented on #29
Hey @lauri-codes

Seems the circular dependency may have just been an artifact of our CI. If it happens again I'll update this issue but consider that problem closed for now :)

No 0.2.9 would be great, although (if I remember correctly) there might be some breaking changes to the current matminer interface (nothing major, just something one of our users picked up).

This sounds like it would reso

[2019-10-11 21:59] ardunn commented on #29
### On yet another note,
We are planning on implementing some of the other dscribe classes in matminer, such as MBTR, so you might see me opening issues/PRs on here if things go awry on my end lol

[2019-10-14 06:03] lauri-codes commented on #29
Hi @ardunn,

I would then strongly suggest going for 0.2.9 as in addition to solving the dependency problems there have been some major performance improvements starting from 0.2.8 for MBTR and ACSF.

Sure thing. Can you open a new issue on this on matminer's side and give me the link to it? I can probably suggest something or open a pull request.

[2019-10-14 14:01] lauri-codes commented on #29
Hi @ardunn,

Building the MBTR featurizer should be a piece of cake since you already have some kind of integration for DScribe. The ACSF interface will still change in DScribe in the near future, so I would wait until that refactoring is done before building a featurizer for it.

I now replied in the matminer issues. We can carry on the conversation there. Closing this issue for now.

[2019-10-14 14:01] #29 closed

[2019-10-21 22:28] anjohan opened #30 "Possible inaccuracy of SOAP descriptors for periodic systems"
Hi,

I am using your package to calculate SOAP vectors for the atoms in my system. It is working very nicely, except that I get small deviations which manifest around the boundary when I try to classify the local structure.

To reproduce this, I have created the following example:
- Create a cubic cell with atoms.
- Redefine the cubic cell as monoclinic with an angle of 45 degrees, wrap the atoms

[2019-10-23 16:46] lauri-codes commented on #30
Hi @anjohan!

Thanks for your message. I will look into this and let you know when I
figure out what is going on.

[2019-10-23 17:13] lauri-codes commented on #30
Hi @anjohan!

The error seems to be isolated to the newest pip version 0.2.9. For a quick fix, use an older version, e.g. 0.2.8. I will try to make a hotfix ASAP.

[2019-10-24 00:33] anjohan commented on #30
Thank you very much for the quick response and solution!

This does indeed remove the error for my test case. I had noticed that the periodicity code was evolving, so I tried the newest (Github) version as well, but I didn't think to try older versions.

If it helps in your debugging, I noticed that the error goes away if you don't add the noise to the coordinates, i.e. when the structure is a per

[2019-10-24 12:16] sirmarcel commented on #28
Hi Lauri,

Sorry once again for the long delay. Thanks for the explanation!

I've had a closer look at `qmmlpack` and the differences between its MBTR and the one in `dscribe` appears to be purely numerical, there are no double-counting issues in either code for supercells, and with the example we started the thread with. So somehow, the `qmmlpack` approach also works, without explicitly adjusting

[2019-10-24 16:57] lauri-codes commented on #30
Brief update: It seems that after wrapping the atoms to the new monoclinic cell (`niti.wrap()`), the atomic configuration near the boundaries is not completely identical with the cubic case. This is because the wrapping may throw some atoms to the other side of the cell if they near the border (see the `eps` parameter in atoms.wrap()). The effect is pronounced in your example by the fact that the

[2019-10-24 17:10] lauri-codes commented on #28
Hi @sirmarcel,

I think I see. So as you say `qmmlpack` probably achieves the same effect by not caring about finding unique combinations and simply summing up all combinations it can find. I think the effect is the same, just the number of combinations to go through is larger.

[2019-10-25 23:04] anjohan commented on #30
Thank you for the update and continued effort.

With the downgrade to 0.2.8 and a bugfix in my own handling of triclinic cells, the SOAP vectors now work perfectly for my application!

[2019-11-01 17:09] anjohan opened #31 "Non-linear (quadratic?) scaling of SOAP calculation"
Hi,

With the SOAP vectors working perfectly, I turned to a "real" system with more atoms. With 250 000 atoms, each frame takes 1.5 hours.

From my experimenting (see below), it seems that the SOAP vector calculation scales approximately linearly as a function of the _square_ of the number of atoms, i.e. quadratically with the number of atoms. This goes for both 0.2.8 and the newest GitHub version

[2019-11-02 16:58] lauri-codes commented on #31
Hi @anjohan!

Wow, 250 k atoms :) Are you actually working with systems of this magnitude?

The linear scaling in classical MD is largely possible if there is no need to calculate neighbour lists. This is typically the case with fixed bonds. As soon as you have to start figuring out which atoms are within the radial cutoff, there is a need to calculate the pairwise distances between atoms.

SOAP i

[2019-11-02 17:11] lauri-codes commented on #31
With what SOAP settings do you get 1.5 h/configuration?

[2019-11-02 19:48] anjohan commented on #31
Thanks for the quick response!

Yes (unfortunately). I'm using the SOAP vectors to visualise phase transitions for fairly large systems. This may not have been your intended purpose, but it's working superbly!

Hm. Thanks to dscribe, I haven't had to dive too deeply into the descriptor calculations, but I was hoping that it should be linearly scaling due to the cutoff. From what I understand, SOAP

[2019-11-02 20:12] lauri-codes commented on #30
The master branch is now updated with a version that uses larger padding that also scales according to the provided sigma value. This version is accompanied by a new regression test (roughly based on the code provided above) that checks the accuracy with different cutoffs, sigmas and cell sizes.

[2019-11-02 21:26] lauri-codes commented on #31
Thanks for the detailed answer! You're application sounds very interesting and I would be very interested to see what comes out of such visualization.

I think you are right and the binning might be the best solution since there is only one global cutoff. Should have thought about that earlier, thanks for pointing it out!

I will try my hand at implementing and testing it. Unfortunately I cannot p

[2019-11-02 22:00] anjohan commented on #31
No worries, this isn't urgent. The SOAP vector calculation still takes much less time than the MD simulation, since I'm only calculating descriptors for a small subset of the frames and using mpi4py.

I should also be able to add a naive (but linearly scaling) binning myself, now that I understand more of libsoap. I may have some time later this week.

[2019-11-05 17:01] sirmarcel opened #32 "MBTR k=2 Question"
Hi Lauri,

Sorry to bother you again! I have two questions about the MBTR implementation.

1) Is there a reason that `normalize_gaussians=True` returns Gaussians which are one at `x=mu`? I would expect the exact opposite to be true, since a Gaussian normalised to integrate to 1 would usually not have that value at its center.
2) Does the `distance` and `inverse_distance` behave differently on purp

[2019-11-05 18:17] anjohan commented on #31
I've started working on an implementation.

[2019-11-05 19:08] lauri-codes commented on #32
Hi @sirmarcel,

In short: this behaviour you are seeing is intentional and is related to the way the discretization of the Gaussians behaves when using very low number of discretization points (in your case n=3). As soon as you crank up the number of points you will see that this "effect" disappears. See below if interested.

Longer version: To calculate the value of the discretized Gaussians, dsc

[2019-11-05 19:14] lauri-codes commented on #31
That's great! External contributors are very welcome.

Will you be doing this on the python side or in C/C++? For now this doesn't really matter, but eventually, I would want this functionality in the C/C++ side and available to all the other descriptors as well.

[2019-11-05 20:08] anjohan commented on #31
In C. As a result, I'm currently enjoying some segfaults.

[2019-11-05 20:14] lauri-codes commented on #31
Have fun :>

[2019-11-06 12:49] sirmarcel commented on #32
Hi @lauri-codes,

Thanks for the prompt and in-depth reply! I think I understand your approach, and the observed "weirdness" is due to a combination of a) very low `sigma` and b) low `n`, right?

[2019-11-06 13:11] lauri-codes commented on #32
Yes.

[2019-11-06 13:11] #32 closed

[2019-11-07 15:53] sirmarcel opened #34 "Exact SOAP cutoff treatment"
Hi Lauri,

Another question, this time about your SOAP implementation. (The background is that I'm so far finding consistent performance differences between yours (yours seems to work slightly better ;)) and `quippy`, and I want to have at least a rough idea of implementation differences.)

How exactly are you treating the `rcut` parameter? I have taken a brief look at the code and it seems like y

[2019-11-07 19:35] lauri-codes commented on #34
Hi Marcel,

Nice to hear that you are not seeing any major differences in performance!

The difference between `quippy` SOAP and `dscribe` SOAP has been discussed [in the old project repository](https://github.com/SINGROUP/SOAPLite/issues/6). Please check that discussion, although it does not provide a direct answer. Fully answering this question would require someone who knows both the `quippy` c

[2019-11-08 09:31] sirmarcel commented on #34
Okay, thanks for the clarification! I think that's enough for now. :)

[2019-11-08 09:31] #34 closed

[2019-11-18 17:09] wushanyun64 opened #35 "How to deal with training set with different number of species using SOAPlite?"
Hi,
I'm a little bit confused with the size of the output descriptor.  Based on the document of SOAPlite, I understand that the size is partially dependent on the number of species in the structure (Ts), however, what if I want to train an ML model with a training set containing structures with different number of species? In that case, the size of the output descriptor will be different from each

[2019-11-18 18:08] lauri-codes commented on #35
Hi @wushanyun64,

First of all, I would suggest using the `dscribe` interface directly instead of the deprecated SOAPLite repository. `dscribe` provides all the same functionality but is actively maintained.

As to the original question: Yes, you are right that the output size depends on how many chemical species are involved. When creating the SOAP output you should provide all the chemical speci

[2019-11-20 22:41] #35 closed

[2019-11-20 22:51] wushanyun64 opened #36 "Only consider part of the total atom species?"
Hi,

When SOAP is dealing with a dataset with a wide variety of atom species, the size of the descriptor can get very large (for my case 300K). With the size of descriptor like this, train a regression model can be very time consuming as well as not really make sense. (since the number of features is way bigger than the number of structures). So is it possible to calculate SOAP only on a **selecte

[2019-11-21 19:57] lauri-codes commented on #36
Hi @wushanyun64,

It depends on what you mean by calculating SOAP on a subset of elements? You can definitely just select a subset of chemical species and provide it in the `species`-argument. Then just remove all structures in the dataset that contain species outside this subset. But I guess this is not what you mean?

If you instead wish to approximate the chemical and structural diversity of th

[2019-11-21 20:07] wushanyun64 commented on #36
Hi Lauri:

Thank you for the advice, it's really helpful. I definitely want to preserve the diversity for the structures in the dataset cause there's no dominant combination of atom species there. let me try pca first and see what happens.

Thank again.

[2019-11-25 07:26] hewg2008 opened #37 "failed to install Dsribe on win10 system"
I was so glad to see your package of Dsribe, but I failed to install it on my windows system. I wonder whether you could help me install your package on windows system, or provide a installation guide for windows system. Thanks.

[2019-11-25 07:42] lauri-codes commented on #37
Hi @hewg2008!

It is possible to install dscribe on a Win10 computer, but you will have to use the [Windows Subsystem for Linux (WSL)](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux). This is also mentioned in the [installation manual](https://singroup.github.io/dscribe/install.html). This in practice means that you will have to install a Linux distribution that runs inside your Windows

[2019-11-26 06:50] hewg2008 commented on #37
Thanks, I have already installed it on Linux system.

[2019-11-26 06:55] #37 closed

[2019-11-26 17:10] wushanyun64 commented on #36
Hi Lauri:

Thanks again for your help. Here's a quick follow up question about the third comment from you, the 'pseudo-species' method sounds very interesting to me but it seems hard to find relevant info online. Can you elaborate a little more about that, or simply point me to a paper? Thank you!

[2019-11-26 18:34] lauri-codes commented on #36
Here are two papers that I have come across:
- [doi.org/10.1039/c8cp05921g](https://doi.org/10.1039/c8cp05921g)
- [doi.org/10.1063/1.5108803](https://doi.org/10.1063/1.5108803)

[2019-11-27 19:50] #36 closed

[2019-12-12 19:19] wushanyun64 opened #38 "Allowing decompose the SOAP descriptor by atomic species pairs"
Hi,

Since SOAP vector is defined as a vector containing elements p(r){Z1,Z2,n,n',l}. I'm wondering is there an easy way to decompose the vector into sub-vectors containing certain (Z1, Z2) combination? Based on the SOAP vector we have now, it seems that the vector is sequenced as: {Z1(Z1, Z2, Z3.....), Z2(Z2, Z3, Z4....), Z3....}, am I understanding this right? If so, how can we make sure which s

[2019-12-13 19:57] lauri-codes commented on #38
Hi @wushanyun64,

You can see how the output of SOAP is ordered [at the tutorial page.](https://singroup.github.io/dscribe/tutorials/soap.html) (see the pseudo-code block on that page). Essentially you're right in that the output is ordered into pairs of species.

Would you think that implementing a function that would return the indices of specific species-combinations would serve your purpose? W

[2019-12-13 21:19] wushanyun64 commented on #38
Hi, Lauri：
If we can have a function like `get_location()`  in SOAP, that would be very helpful! I imagine something like :

[code]
Also, one question, since based on the SOAP tutorial,  in the SOAP vector both P{Zi, Zj} and P{Zj, Zi} will be calculated, how you will address this in the function `get_location()`?  Thank you!

[2019-12-14 20:52] lauri-codes commented on #38
I'm now preparing a bigger update for version 0.3.0 and I can include `get_location()` in it. I will publish it within a few days.

Actually only one of the identical pairs (I think the one where` i<=j`) is included in the SOAP output. The `get_location()`-function would accept both (Z_i, Z_j) and (Z_j, Z_i) as arguments, but would return the same location. This is also how it works for MBTR.

[2019-12-16 23:09] wushanyun64 commented on #38
That's great, can't waiting to try the new version.

[2019-12-21 13:59] lauri-codes commented on #38
Hi @wushanyun64,

The `get_location()`-method can now be found in the development version 0.3.0a0 that can be installed from the git master branch. (just to `git clone git@github.com:SINGROUP/dscribe.git` and `pip install .` within the cloned folder)

I'm still workin on some features for the 0.3.0 release. When that is ready, you can find this same feature on version 0.3.0.) Message me here if yo

[2019-12-23 11:52] lauri-codes commented on #31
Thanks @anjohan for contributing the spatial binning algorithm! It is now fully tested and integrated into SOAP in version 0.3.0.

[2019-12-23 11:52] #31 closed

[2019-12-23 11:58] lauri-codes commented on #30
The fix to this issue can now be found in version 0.3.0.

[2019-12-23 11:58] #30 closed

[2019-12-23 21:04] lauri-codes commented on #38
The `get_location` function is now available in version 0.3.1 which is available through `pip`.

[2019-12-25 20:57] #38 closed

[2019-12-29 17:55] lmj1029123 opened #39 "OQMD database"
Hi,

I am trying to reproduce the result for the formation energy prediction on the OQMD data. Could I know the way you guys query the OQMD database to get 222215 data points?

When I do the first filtering to get the converged samples with,

`FormE = FormationEnergy.objects.filter(calculation__converged=True)
print(FormE.count())`

I get 309107 samples instead of 239426 as indicated in the paper.

[2019-12-29 19:55] lauri-codes commented on #39
Hi!

I would simply suggest using the accompanying data file that is mentioned in the article and found in Figshare: [https://doi.org/10.6084/m9.figshare.c.4607783](https://doi.org/10.6084/m9.figshare.c.4607783). It directly contains the used geometries, formation energies and OQMD identifiers for all the used 222215 samples from OQMD. If you want to retrieve the data from OQMD directly, make sure

[2019-12-30 19:36] #39 closed

[2020-01-21 10:41] peterbjorgensen opened #40 "pip compile error: error: invalid conversion from ‘PyObject*’ {aka ‘_object*’} to ‘int’ [-fpermissive]"
I am trying to pip install dscribe on Arch linux with python 3.8 and get the following error:

[code]

[2020-01-21 10:55] lauri-codes commented on #40
Hi @peterbjorgensen,

This issue is isolated to python 3.8. The fastest way to fix it for now is to use an older python version. Changing the python version should be easiest within a virtualenv.

The problem originates somewhere in the cython wrapper that is used. I will investigate further but can't promise a deadline for a python3.8 fix.

[2020-02-04 06:01] yashasvi-ranawat opened #41 "pip install error on ase main (development) branch"
ERROR: dscribe 0.3.2 has requirement ase>=3.19.0, but you'll have ase 3.19.0b1 which is incompatible.

Is there an easy fix to that?

[2020-02-04 08:55] lauri-codes commented on #41
What kind of error are you getting? I could check it out.

[2020-02-06 13:52] sirmarcel opened #42 "Install error with 0.3.2"
Hi Lauri, I've noticed that updating `dscribe` on our HPC system leads to errors looking like this:

[code]

This is installing via `poetry`, but `pip` gives the same errors.

[2020-02-06 17:07] stenczelt opened #43 "import error of `acsfwrapper` in version `0.3.2`"
`acsfwrapper` cannot be imported in version `0.3.2`

Here is the full conda env yml (as a .txt, otherwise github is not happy with it)
[conda_env.yml.txt](https://github.com/SINGROUP/dscribe/files/4166563/conda_env.yml.txt)

[code]

The file exists in the env directory:
[code]

but even in there it is not importable:
[code]

[2020-02-06 22:02] lauri-codes commented on #42
Hi @sirmarcel,

I cannot reproduce this issue on a clean python3.7 install using pip globally or within a virtualenv.

Both in this issue and #43 a conda environment is used. Maybe this has something to do with it? I will take a look into this. Could you give a try by using virtualenv instead of a conda environment?

[2020-02-06 22:04] lauri-codes commented on #43
Hi @stenczelt ,

I cannot reproduce this issue on a clean python3.7 install using pip globally or within a virtualenv.

Both in this issue and #42 a conda environment is used. Maybe this has something to do with it? I will take a look into this.

[2020-02-07 17:22] sirmarcel commented on #42
Hi -- okay, I will look into this. It might take a little way, as I'm knee-deep in a number of projects at the moment!

[2020-02-11 21:05] lauri-codes commented on #43
I can reproduce the issue when installing dscribe with conda from conda-forge (i.e. `conda install dscribe`). The issue is however limited to the conda package manager, and is not present when installing with pip. The easiest work-around for now is to install dscribe with pip instead. You can do this even inside a conda environment with:

[code]

I would suggest using this for now until I can figu

[2020-02-11 21:05] lauri-codes commented on #42
I can reproduce the issue when installing dscribe with conda from conda-forge (i.e. `conda install dscribe`). The issue is however limited to the conda package manager, and is not present when installing with pip. The easiest work-around for now is to install dscribe with pip instead. You can do this even inside a conda environment with:

[code]

I would suggest using this for now until I can figu

[2020-02-12 09:09] lauri-codes commented on #43
The issue is now also fixed in the conda package (there was actually an issue with the conda build system itself, not with dscribe). Just update to the latest version from conda-forge.

[2020-02-12 09:09] #43 closed

[2020-02-12 09:09] lauri-codes commented on #42
The issue is now also fixed in the conda package (there was actually an issue with the conda build system itself, not with dscribe). Just update to the latest version from conda-forge.

[2020-02-12 09:37] sirmarcel commented on #42
Hi Lauri, that's great! In my case I was installing it via `poetry` though (which should just be `pip` under the hood), but *inside* a `conda` environment.

[2020-02-12 09:47] lauri-codes commented on #42
Oh, my bad. I just saw `conda` in your filepath and leaped to an assumption :stuck_out_tongue:

From the error I would guess that this might an issue with your compiler. Which version of GCC are you using? Maybe simply removing the package completely (make sure that that build/temp.linux-x86_64-3.7/dscribe/libacsf/acsfwrapper.o is removed) and switching to another compiler version could work?

[2020-02-13 16:16] gabor1 opened #44 "average soap"
hi!

When you compute the soap vector of a structure using the "average=True" argument, what do you average over? Do you compute the soap vector for each atomic environment and then return the average of that over atoms? This is much less useful than the kind of average that the QUIP code does, which is to compute the Ylm expansion around each atom, average _those_, and then square that average ve

[2020-02-13 22:10] lauri-codes commented on #44
Hi @gabor1!

Yes, we indeed simply average over the power spectrum of each atom. The method you described does certainly sound better. Just to be super clear, you mean that instead of simply averaging the power spectrum of each atom (the math will take a second to render):

<img src="https://render.githubusercontent.com/render/math?math=p_{nn'l}^{Z_1,Z_2} \sim \frac{1}{n} \sum_i \sum_m (c_{nlm}^{i

[2020-02-13 22:28] gabor1 commented on #44
Your formulae are correct. I think the first mention of this is in here

https://pubs.acs.org/doi/10.1021/acs.jpclett.8b01067

(We've had it in the code for a long time but didn't use it very much until recently).

Of course if users want the average of the soap vectors they can just call the function without this flag and then average the array themselves. The point is that the kind of average I'

[2020-02-14 13:59] sirmarcel commented on #42
Hi! No worries. :D

I tried it with gcc6 and gcc9, the original report was with gcc8. It always looks like the same error. I'm not 100% sure I'm cleaning up after pip correctly, but I deleted `~/.caches/pip` after each attempt, and as far as I know, pip automatically cleans up if the build fails...

[2020-02-17 18:50] lauri-codes commented on #42
I'm quite sure that this has something to do with the platform or libraries in your HPC environment. What linux distribution is your HPC running? Can you attach the output of `pip list` within your conda env? If you are using slurm, can you attach the output of `module list`?

[2020-02-29 20:59] arosen93 opened #45 "Slow generation of kernels"
Currently, the implementation of `dscribe.kernels.localsimilaritykernel.LocalSimilarityKernel.create` is quite slow if dealing with a large number of samples, each of which has a very large SOAP matrix. I imagine this is because of the many calls of `C_ij = self.get_pairwise_matrix(x_i, y_j)` as you loop through every pair of materials (excluding symmetric ones). Calculating the SOAP matrices is e

[2020-03-01 21:24] lauri-codes commented on #45
Hi @arosen93!

Just to be clear: are you sure that you want to calculate the `AverageKernel` and not something else? I would expect that if you are working with such big structures and large amount of them, you would instead want to work with a _single averaged global descriptor per structure_ instead of AverageKernel (as is done in many cases, e.g. in the DScribe article). Especially, if you are

[2020-03-01 21:26] lauri-codes commented on #41
Closing this for now as inactive, you can reopen @yashasvi-ranawat if you still need help.

[2020-03-01 21:26] #41 closed

[2020-03-01 21:36] arosen93 commented on #45
Hi @lauri-code!

Thank you for taking the time to reply. I will say I'm not 100% certain (only because I am very new to this field). I was trying to reproduce the protocol in this paper (https://onlinelibrary.wiley.com/doi/abs/10.1002/qute.201900023), where the authors say they used an average kernel to get a global similarity kernel for kernel ridge regression. How would one go about calculating

[2020-03-01 22:06] arosen93 commented on #45
P.S. Super minor docfix. In the tutorials page for SOAP [here](https://singroup.github.io/dscribe/tutorials/soap.html), the last block of code uses `soap_peroxide`, which isn't defined in the doc (the h2o2 molecule is created but no SOAP object created for that molecule). There's just a disconnect between the example script and the live docs.

[2020-03-02 21:20] lauri-codes commented on #45
Hi @arosen93,

Ok, great! Indeed your script very nicely demonstrates how the two different will give the same result (when using a linear metric). In SOAP the `average=True` indeed already takes the average of all atoms in the structure. Thanks for the docfix, now updated.

[2020-03-02 21:20] #45 closed

[2020-03-12 07:25] jan-janssen commented on #40
@lauri-codes Can you regenerate https://github.com/SINGROUP/dscribe/blob/master/dscribe/libmbtr/mbtrwrapper.cpp ? - It was generated with cython 0.29.10 which is not Python 3.8 compatible, while https://github.com/SINGROUP/dscribe/blob/master/dscribe/libacsf/acsfwrapper.cpp  which you already regenerated with cython 0.29.14 is Python 3.8 compatible. The current release of cython is 0.29.15 so it m

[2020-03-12 07:30] lauri-codes commented on #40
Thanks Jan! I will do this.

[2020-03-12 08:41] lauri-codes commented on #40
This is now fixed in 0.3.5, and python3.8 was added as a new test environment in the DScribe CI.

[2020-03-12 08:41] #40 closed

[2020-03-12 08:43] lauri-codes commented on #42
Closing this for now as inactive. Reopen as needed. Also, there is a new version (0.3.5) that you may try out (the wrapper code has been updated so maybe that helps?)

[2020-03-12 08:43] #42 closed

[2020-04-06 03:14] StevenAlice93 opened #46 "descriptor for crystal"
Hello, Thank you for this excellent project! I want to know whether the code can compute discriptors for crystal?

I'm looking forward to your reply.

Best wishes!

[2020-04-08 07:28] lauri-codes commented on #46
Hi @StevenAlice93,

Sure, there are several options. I would encourage you to read our Open Access article: https://doi.org/10.1016/j.cpc.2019.106949

In short: MBTR, sine matrix, Ewald sum matrix work natively for crystals, ACSF and SOAP also work with a few tricks.

[2020-04-13 00:31] StevenAlice93 commented on #46
Well done! Thank you! I want to know how to use it to transform the POSCAR into descriptors, and I don't find the API to do that.

[2020-04-13 05:31] lauri-codes commented on #46
You can use [ASE](https://wiki.fysik.dtu.dk/ase/) for reading structures from POSCAR files. The resulting `Atoms` object can then be used directly by `dscribe`.

[2020-04-13 12:50] StevenAlice93 commented on #46
Dear lauri-codes,

  Oh, thank you! I got it.

  I have a another question: if I have two moleculars CH4 and H20, and I use the ACSF Class to get descriptors for them, I will get a numpy array with shape (3, 36) for H20 and a numpy array with shape (5,36) for CH4. For many machine learning models, they only accept these samples with the same length descriptors, so how do I input these descriptors

[2020-04-13 20:06] lauri-codes commented on #46
Hi @StevenAlice93,

I have just added [a basic tutorial](https://singroup.github.io/dscribe/tutorials/basics.html) that should cover your questions.

[2020-04-20 17:45] k-kian opened #47 "extracting features using MBTR for crystals"
Dear Lauri,

I would like to use MBTR to train a dataset of crystalline systems. I have 6000 data points and my dataset consists of ~88 different elements. Using get_number_of_features()-function, I got 1 x 33695100 for the size of vectors for each periodic crystal which is extremely big and sparse. Therefore it takes forever to extract features for my dataset. Am I doing something wrong or for MB

[2020-04-20 18:01] lauri-codes commented on #47
Hi @k-kian,

I would suggest that you take at the [supplementary information that is associated with the dscribe article](https://ars.els-cdn.com/content/image/1-s2.0-S0010465519303042-mmc1.pdf). It contains some tips on optimizing MBTR hyperparameters, as well as some sane defaults that might be suitable for your case. In the article, we used MBTR with a dataset of > 200 K crystals with around 80

[2020-04-20 19:05] k-kian commented on #47
Hi Lauri,

Thanks much for your quick reply. It was a big help. I would like to kindly ask you:

1- Would it be fine to only use k1 when optimizing k1 parameters (similarly using only k2 and k3 when optimizing k2 and k3 parameters, respectively)?

2- In the supplementary information that is associated with the dscribe article, I noticed that you have only optimized "sigma" and "scale" parameters f

[2020-04-20 19:22] lauri-codes commented on #47
1. This is what we did at least. I think it is perfectly fine, and the only viable option with big datasets.

2. `min` and `max you` can directly determine from your dataset, e.g. for k1 they are your min/max atomic numbers, for k2 the min/max atomic distances, for k3 the min/max angles. `n` just needs to be high enough to capture the relevant features: something between 50-200 is probably fine.

[2020-04-21 02:01] k-kian commented on #47
Thanks much Lauri! It was indeed a great help. Following your advice, I can see that the higher the "scale" in k3, the faster the calculations are. I am not sure, where one should put the cut off beyond which accounting larger number of periodic neighbours will not affect, though. My understanding is that for MBTR and ACSF, it is very difficult to narrow down the grid of parameters in advance, unl

[2020-04-21 07:20] zhanzghang commented on #46
Dear Lauri,

I would like to use SOAP to train some data, it looks like the file with your dataset 'formation_energy.extxyz'. But i have a question in your file, the atoms coordinate come from where(I konw your file from OQMD)? The primitive cell.cif from materials project has atoms coordinate, i don't know these coordinate is right?&nbsp;

Thanks much for your time!

------------------&nbsp;原始邮件&

[2020-04-23 17:39] lauri-codes commented on #47
Hi @k-kian,

Indeed it can be hard to find a good set of values. If you are working with a machine learning problem, then thorough cross-validation is the best option, but that can quickly become computationally heavy.

In general, you cannot assume that the hyperparameters are entirely transferable across different properties. But typically the hyperparameters will not change too much between dif

[2020-04-23 17:45] lauri-codes commented on #46
Hi @zhanzghang,

The contents of formation_energy.extxyz come from OQMD 1.1. I created those files by using the SQL database that can be downloaded from http://oqmd.org.

[2020-04-23 17:45] #46 closed

[2020-04-27 20:49] gabor1 opened #48 "symmetry of terms for multi-species descriptor"
HEllo there!

I have a comment about the way you compute the SOAP descriptor for multiple species. In your docs page, you quote the nested loops as (omitting the l loop)

loop z
  loop z' >= z'
    loop n
      loop n' >=n

If there are N radial basis functions and Z species, this has N(N+1)Z(Z+1)/4 terms.

In the QUIP code, we do something different. We create a combined index nz which has length

[2020-04-28 20:37] lauri-codes commented on #48
Hi Gabor!

Thanks for reporting this. I think I understand your point. I will have to check our implementation to see if we are truly misusing symmetry here. If so, this should be fixed ASAP.

[2020-04-28 20:40] gabor1 commented on #48
Thanks. A direct test would be to compute the elements I am talking about and to see if they match with the ones you think they match with… If they do, then we need to fix quip!

-- Gábor

Gábor Csányi
Professor of Molecular Modelling
Engineering Laboratory, University of Cambridge
Pembroke College Cambridge

Pembroke College supports CARA. A Lifeline to Academics at Risk.  http://www.cara.ngo/

[2020-05-09 18:56] coolcodecamper opened #49 "analytical derivatives w.r.t Cartesian coordinates"
Dear developers,
do you see the possibility to implement and output option for analytical derivatives with respect to Cartesian coordinates for SOAPs in the near future?
Kind regards,
coolcodecamper

[2020-05-11 06:55] lauri-codes commented on #49
Dear @coolcodecamper,

This is a topic that has been asked quite often (duplicate of #14).

Implementing the analytical derivatives for SOAP using the GTO radial basis should be possible. It, however, is fairly large undertaking and we don't currently have the resources to do it ourselves. Implementing the derivatives for other descriptors should be easier.

We are open to contributions, so If thi

[2020-05-11 11:32] coolcodecamper commented on #49
Thank you for your reply.

[2020-05-11 11:32] #49 closed

[2020-05-19 12:07] zhanzghang commented on #46
Dear Lauri,

when I used the Coulomb Matrix and Sine matrix to create the descriptor, it appeared 'ValueError: index can't contain negative values'. And I used the atoms to create the structure, inclued the Cartesian coordinates I have used in the 'position' for atoms, that really had some negative values. That's the reason for 'ValueError: index can't contain negative values'?

Thanks much for yo

[2020-05-19 12:18] lauri-codes commented on #46
Hi, @zhanzghang

The positions can certainly include negative values. The problem must be somewhere else. Could you include a minimal non-working example as a code snippet?

[2020-05-21 11:59] sirmarcel commented on #42
Hello, just a quick note: This error still occurred in my original setup even with `0.3.5`, but did not persist when I did the following:

- Clean conda environment with python 3.8, numpy, scipy
- `pip install dscribe`

I think the original problem might have been due to the awkward interaction of having a virtualenv inside a conda environment, or something like that. Still a bit mysterious, but p

[2020-05-21 12:33] lauri-codes commented on #47
Closing for now.

[2020-05-21 12:33] #47 closed

[2020-05-28 11:11] gabor1 commented on #48
it's a funny terminology to label this "enhancement" ...

[2020-05-28 11:16] gabor1 opened #50 "typo in the main README"
hi !

in the main readme, you have "Smooth Overlap of Atomic Orbitals (SOAP)" . the P in SOAP stands for "Positions" not for "Orbitals". Doing orbitals (so varying the Gaussians that are placed on atoms, perhaps adding l>0 functions on each neighbour) is an interesting idea, I am not aware of anyone trying that for an environment - it is related to Stefan Goedecker's fingerprints (but after placin

[2020-05-28 11:32] lauri-codes commented on #50
Thanks for pointing this out, it is now fixed. Indeed in some cases, it might be very interesting to use actual orbitals. If orbitals are already available in the initial dataset, then doing predictions for some computationally heavy quantities might be doable through ML.

[2020-05-28 11:32] #50 closed

[2020-05-28 11:37] lauri-codes commented on #48
I looked at this briefly, and indeed it seems to be a bug on our side. Now labeled correctly. Now I just need to find the time to fix it.

[2020-05-28 11:41] gabor1 commented on #48
Thanks. I haven't explicitly said, but perhaps should, that I am a keen supporter of other implementations of SOAP (especially ones like dscribe with improved radial basis), the quippy one is just for reference.

[2020-05-28 11:49] lauri-codes commented on #48
Great, your input is very much appreciated!

[2020-05-29 22:40] dangthatsright opened #51 "Reading in molecules"
Hello apologies if this has an easy solution, if so then it is very hard to find.

I would like to use library however it doesn't seem like there are any examples of reading in many molecules. I am looking to work with either sdfs or rdkit mols but it is very hard to transform them into whatever data structure you are using.

Can you please have an example of creating structures by reading in an s

[2020-05-30 20:31] lauri-codes commented on #51
Hi!

The basic tutorial should cover this to some extent. If you look at [the first step](https://singroup.github.io/dscribe/tutorials/basics.html#typical-workflow) in that tutorial, it shows you that you need to transform your structures into ASE.Atoms. In your case, you just need to call the read function from ASE on e.g. your sdf-file. If your sdf file contains multiple molecules, the `ase.io.r

[2020-05-30 21:05] lauri-codes commented on #48
This is more of a note for future reference:

The individual terms in the multi-species power spectrum are of the form: <img src="https://render.githubusercontent.com/render/math?math=p_{nn'l}^{ZZ'} \sim \sum_m (c_{nlm}^{Z})* (c_{n'lm}^{Z'})">

So the question is, what terms are redundant due to symmetry? One way to analyze the symmetries is by taking the complex conjugate of the power spectrum (t

[2020-06-01 19:14] dangthatsright commented on #51
Hi, thank I think part of the reason was I never heard of ASE before. Passing in index=":" still gives only the first molecule. Looking at `ase.io.sdf.read_sdf` https://wiki.fysik.dtu.dk/ase/_modules/ase/io/sdf.html#read_sdf it seems like they only read the first molecule as well. I could get around this but I was wondering what do you do for larger datasets. Are you really storing hundreds of tho

[2020-06-02 05:21] lauri-codes commented on #51
Hi,

You're right: ASE seems to actually have a very limited support for sdf files. If you want to stick to sdf files, you will have to read them with some other software and then [construct ase.Atoms from them](https://wiki.fysik.dtu.dk/ase/ase/atoms.html). This should be easy, if you have problems let me know.

As for using multiple configurations in general: It definitely makes sense to store l

[2020-06-02 19:41] dangthatsright commented on #51
I primarily work with protein / ligand interactions and proteins are usually in pdb format, whereas ligands are usually sdfs. I have not seen ASE or xyz be used in many places. The main library that we use is RDKit, so a direct way to go from RDKit to ASE would be good, but RDKit to your featurizations would be best.

Right now I am doing RDKit to sdf to ASE which doesn't seem great, but at least

[2020-07-09 15:07] vinsonliao opened #52 "Modifications for LMBTR for Element Encoding"
Hi there!

I was wondering if there was anyway to encode elemental identity in LMBTR. I understand that the traditional MBTR doesn't exactly work, but is there a way the user could prescribe a custom distance metric that is compatible with the system at hand?

Thanks!

[2020-07-09 18:43] lauri-codes commented on #52
Hi!

Yes, it might be reasonable to come up with some form of a k=1 term for LMBTR as well. I guess we could just add the possibility of using a radial weighting from the local center that would be applied to the Gaussians. Is that something you would be interested in? The resulting spectrum would crudely tell which atomic species are most prominent near a point.

[2020-07-09 19:18] vinsonliao commented on #52
Yes, that would definitely be very useful. Do you have any suggestions on how this functionality could be added on the user end?

[2020-07-09 19:31] lauri-codes commented on #52
You mean how the end user would configure the weighting? I would  implement it like this:
[code]

We can also quite easily add new weighting functions. Any suggestions for them are welcome.

[2020-07-30 18:11] #51 closed

[2020-07-31 10:23] lauri-codes commented on #48
Now fixed in 0.4.0. Thanks again @gabor1!

[2020-07-31 10:23] #48 closed

[2020-07-31 10:24] lauri-codes commented on #44
Now added this average mode in 0.4.0. It can be activated with `average="inner"`.

[2020-07-31 10:24] #44 closed

[2020-07-31 10:26] gabor1 commented on #48
great, thanks!

[2020-07-31 10:28] gabor1 commented on #44
thanks!

[2020-08-15 08:58] resnant opened #53 "Value Error with small n_atoms_max in matrix descriptor"
Hello,
I encountered an issue related to `matrixdescriptor` class.

# Summary
In short, `ValueError: index can't contain negative values` occurs when `n_atoms_max` is smaller than the input structure.

This error comes from this line ([matrixdescriptor.py#L192](https://github.com/SINGROUP/dscribe/blob/master/dscribe/descriptors/matrixdescriptor.py#L192)):
`padded = np.pad(array, [(0, self.n_atoms_

[2020-08-24 06:41] negf opened #54 "formula for SOAP power spectrum in the tutorial."
Hi,

In the tutorial the power spectrum as well as the expansion coefficients depend on r, however the r dependency should be integrated out. So the r dependency in p(r) and c^Z_nlm(r) should be dropped, shouldn't it?

[2020-08-24 06:51] lauri-codes commented on #54
Hi @negf,

In this context, `r` does not refer to the integration variable. It instead refers to the position that you have chosen as a center for the SOAP spectrum. As you said, the radial variable in the integration has already been integrated out.

I can see that this is confusing. Do you think that renaming the variable to `R` and documenting the difference better would be a good idea?

[2020-08-24 06:58] lauri-codes commented on #53
Hi @resnant,

This is a good point. Option 2 is out of the question, as typically people will want to prefix the matrix size, as the number of features needs to be consistent across a larger dataset. I think that option 1 will be the way to go. We should raise a more informative ValueError if `n_atoms > n_atoms_max`.

Thanks for your input, I can implement this check and it will be included in the

[2020-08-24 07:00] negf commented on #54
ok I see. That is indeed a bit confusing. Yes I think using R or R_i (where i is the i-th atom) would be more clear. Or as far as I understand the basis functions are always centered at the position R_i of the atom so simply i as index would suffice, because I could think of the power spectrum as a 2D matrix where the i-th row is given by the components of p(R_i), isn't this what you output anyway

[2020-08-24 08:02] lauri-codes commented on #54
The SOAP spectrum can be calculated at any arbitrary point in space, so R does not have to correspond to an atoms position. But more generally R_i would refer to the ith position for which the spectrum was requested.

I will update the docs so that all this is clearer. Thanks again for the feedback!

[2020-08-24 11:11] resnant commented on #53
Hi @lauri-codes,

I agree with your plan.
Thank you for maintaining this cool project! 😄

[2020-08-25 09:56] Aki78 commented on #54
That is a good point. r_i gives the impression of the spectrum always being on top of the atoms though, maybe x in vector format would be clearer, since it can be anywhere in space.

[2020-09-14 19:03] jdagdelen opened #55 "Docs seem to be broken"
All google results for docs lead to broken pages. Thought you might want to know.

[2020-09-15 05:24] lauri-codes commented on #55
Thanks for the heads up. We had to change the documentation URL schema a bit due to versioning. This is causing the dead links. In the future, all links should refer to [https://singroup.github.io/dscribe/latest/](https://singroup.github.io/dscribe/latest/) which should always stay active irrespective of the current version.

[2020-09-28 15:57] #55 closed

[2020-10-22 11:47] coolcodecamper opened #56 "API wishlist: convenience function to obtain all derivatives at once"
Dear developers,

I very much appreciate your efforts and progress in the development of Cartesian derivatives for the available descriptors!
Here I would like to note that It would be very convenient to have a function that returns all derivatives at once, ideally in some kind of Jacobian matrix.
Taking the Coulomb matrix descriptor as an example, each matrix element q would have its own column o

[2020-10-22 12:26] lauri-codes commented on #56
Hi @coolcodecamper,

As you say we are just now taking the first steps in getting this implemented. As we have limited experience in using the derivatives we are not sure what would be the ideal output shape.

Currently we were planning an output with shape [n_atoms, 3, n_features] (the second dimension goes over x, y, z components). Do you think that a 2D Jacobian matrix would be a better solutio

[2020-10-22 12:51] coolcodecamper commented on #56
I am happy as long as the output is some numpy array containing all derivatives in a logical consistent shape. Then it should be straight-forward to reshape the output to 2D. In my case, I compute local descriptors for all atomic positions and flatten the output. So again my Jacobian is 2D.
I guess you are on the right track as it is probably easier to reduce dimensions of multi-dimensional output

[2021-01-23 08:15] beef-broccoli opened #57 "installation error with pip"
Hello,

I'm getting the following error when I tried to install dscribe (Mac OS Big Sur 11.1)

I used a clean conda environment with numpy and scipy, ran `pip install dscribe` and got this error. From my understanding, it looks like some files are missing from the source? Tried to build it from github source as suggested by the documentation, got the same errors.

Any advice? Thanks in advance.

P

[2021-01-23 08:18] beef-broccoli commented on #57
Also I have no idea why some of the fonts are big. Sorry about that

[2021-01-23 08:36] lauri-codes commented on #57
Hi! Looks like you're missing the mac command line tools. Can you try installing them first and then retry?

[2021-01-23 09:27] beef-broccoli commented on #57
Ohh i see. It works now. Thank you very much for the help!

[2021-01-23 09:27] #57 closed

[2021-02-12 02:25] ryokbys opened #58 "SOAP descriptors of different species too similar?"
Hi,
It's a great project.
I tried to create SOAP descriptors of a crystalline system including a few chemical species. But the obtained SOAP descriptors of other species seem too close. Attached is an example of Mg2SiO4 and the plot at the end of the notebook shows very close SOAP values for Mg, Si, and O species. I am not very sure whether it is wrong, but if I make SOAP descriptors with a differ

[2021-02-12 07:54] lauri-codes commented on #58
Hi @ryokbys!

I don't see anything fundamentally wrong with your current setup. In the context of the original definition for SOAP (https://doi.org/10.1103/PhysRevB.87.184115), there are a few parameters you can tune if you are interested in tuning SOAP to be more sensitive to the sites:

- Reduce `rcut`
- Try `crossover=False`

Also, if you are using these descriptors in a machine learning enviro

[2021-02-12 09:21] ryokbys commented on #58
Thanks @lauri-codes for your quick response.

The reason why asked this is because I got the following PCA map of SOAP features obtained from polycrystalline 4-component system using DScribe, which was much different from I expected. I expected that points of each species make separate clusters. But this could be true...
![PCA_SOAP_poly](https://user-images.githubusercontent.com/6027630/107748620-

[2021-02-21 21:32] lauri-codes commented on #53
Now fixed in 0.5.0rc1.

[2021-02-21 21:32] #53 closed

[2021-02-23 19:35] rajathsalegame opened #59 "Unable to set n_jobs to -1"
Hi, I'm trying to parallelize calculation of SOAP descriptors and would like to use the maximum number of CPUs available on my system. When trying to set `n_jobs=-1` in `soap_generator.create()`, I get the error below:

`  File "/home/rajathsalegame/miniconda3/envs/chem/lib/python3.8/site-packages/dscribe/descriptors/soap.py", line 238, in create
    output = self.create_parallel(inp, self.create_

[2021-02-23 19:49] lauri-codes commented on #59
Hi @rajathsalegame!

You're absolutely right. I will add support for this in the upcoming 0.5.0 version.

[2021-03-01 21:23] rajathsalegame opened #61 "Issue when initializing SOAP instance"
Hitting this strange error when trying to initialize a SOAP instance:

[code]
I think this might be because I passed into SOAP a `set` rather than a `list`, and it seems like SOAP is setting species using this? Might be good to allow for flexibility and allow for any sort of `Collection` to be passed into the function? Or, this might be an issue on my end somehow--just thought I would bring it up

[2021-03-02 06:13] lauri-codes commented on #61
Hi @rajathsalegame,

Any `Iterable` should definitely be OK. For some reason numpy does not iterate through the set, but makes it into an array with `dtype=object`. I will include a fix to this in 0.5.x. Thanks for the report!

[2021-03-08 21:50] lchaoyi opened #62 "Physical Meaning of SOAP feature ?"
Hi, I was wondering if there is any way I can explain the SOAP feature with a more real-world view ? The partial power spectrum vector p(r) seems so abstract that it is very hard to explain it with a real picture. I notice that there is a function get_location() which can help me easily extract parts of particular species combination, and I think these terms can represent the interaction between t

[2021-03-10 21:22] lauri-codes commented on #59
Now fixed in 1.0.0.

[2021-03-10 21:22] #59 closed

[2021-03-10 21:27] lauri-codes commented on #56
In 1.0.0 the derivatives are available for all atoms and multiple systems (currently SOAP only). We chose to return the derivatives as multi-dimensional arrays since this way as much of the layout information is preserved and it is easy to relayout it to whatever form you want. Closing for now.

[2021-03-10 21:27] #56 closed

[2021-03-10 21:49] lauri-codes commented on #61
Now fixed in 1.0.0.

[2021-03-10 21:49] #61 closed

[2021-03-11 06:45] lauri-codes commented on #62
Hi @lchaoyi!

Good question, for which I do not have a good answer.

You can get some idea of the spherical components by looking at some spherical harmonics visualizations, but at least for me, this is not very useful. The thing is complicated also by the fact that the radial basis can also be quite complicated. Orthonormalized GTO's especially are quite broad and multi-peaked: they are computati

[2021-03-12 09:45] coolcodecamper opened #63 "SOAP derivatives symmetry issue?"
Dear @lauri-codes,

I am excited to see the new derivatives feature released! Thank you very much for that development!
For some reason, the output differs from my simple numerical implementation.

Below is a small example where dscribe derivatives are compared to a numerical approach using finite differences.
The SOAP descriptor for the HF molecule has got 3+3 features.
The derivative output has

[2021-03-12 10:39] lauri-codes commented on #63
Hi @coolcodecamper!

Thanks for trying out the new version, any feedback is appreciated!

I think what you're seeing is that in the dscribe output the derivatives of the power spectrum calculated at atom _i_ with respect to the movement of atom _i_ are left unfilled (=zero). I think the motivation was that in most cases you don't need these derivatives, so we don't calculate them to save some time

[2021-03-12 10:54] coolcodecamper commented on #63
Thank you for the quick reply,
I would highly appreciate this option to compute the full derivatives by default or via flag.

I tried the arguments `positions=[[7.5, 7.5, 7.5], [7.5, 7.5, 8.4382]]`, `positions=[0, 1]` and `include=[0, 1]`. No success.

[2021-03-15 14:42] lchaoyi commented on #62
Thank you for your instructions and suggestions !

[2021-03-15 17:38] lauri-codes commented on #63
Hi @coolcodecamper,

After taking a more in-depth look, I was wrong about us not calculating the "self-derivatives" (=derivative of SOAP centered on atom _i_ with respect to the movement on atom _i_): we actually do calculate them. There is just a subtle difference in your finite-difference code compared to what is done by dscribe.

In your finite-diffence code, as you displace the atom, you are a

[2021-03-15 17:47] #62 closed

[2021-03-16 16:29] coolcodecamper commented on #63
Thank you very much for your investigation, @lauri-codes!
After some tests I am certain that I need the derivatives where the SOAP centers are displaced with the atoms (like in my original finite difference code).
It would be great to achieve this behaviour in dscribe (perhaps by some additional flag).

And thank you for pointing out the accuracy and dtype!
Although being quite slow, the finite di

[2021-03-18 18:03] lauri-codes commented on #63
Hi @coolcodecamper!

Ok, good to know! I think we can create a flag that controls the behavior. For the numerical derivatives, doing the implementation is very easy. The analytical ones are probably harder and will take more investigation. But this is all transparent to the user if you just go with method="auto".

[2021-03-31 08:50] shinkiyohara opened #64 "About the meaning of rcut in SOAP class"
Hi dscribe users,

I can't understand the meaning of "rcut" in SOAP class.
I know rcut is cut off radius, but I suspect rcut can have two possibilities; one is distance from an atom to be considered regarding radial basis function, and the other is distance from an atom to determine atoms for broadening their atomic positions, namely distance to determine surrounding atoms.
Which is correct?

Read

[2021-03-31 09:16] lauri-codes commented on #64
Hi @shinkiyohara!

Good question: as you have suspected, `rcut` only determines the range of the radial basis. `rcut` then implicitly determines another, larger cutoff inside which atoms will be included in the atomic density. This larger cutoff is based on the width of the gaussian (as determined by `sigma`).

In general, you could simply include all atoms in the atomic density: the far-away ones

[2021-03-31 13:17] shinkiyohara commented on #64
I understood that.

Thanks,  Lauri!

[2021-04-26 04:49] shinkiyohara opened #65 "Dimensions of SOAP"
Dear all,

Hi, I am using SOAP class to calculate power spectra.
I am trying to calculate  power spectra of  crystal Cs2O including 8 Cs and 4 O atoms.
My script described below output (12, 330)-shaped numpy array.

When I checked the output indices correspond to a particular species combination by get_localtion function, I got below.

According to the pseudo-code of soap, my script should output

[2021-04-26 20:22] lauri-codes commented on #54
Fixed in the upcoming version 1.1.0.

[2021-04-26 20:22] #54 closed

[2021-04-30 05:46] lauri-codes commented on #65
Hi @shinkiyohara!

Sorry for the late reply. What you are seeing is the correct behaviour, which was introduced by fixing #48 in 0.4.0. The cross-species terms with non-identical species (in your case O-Cs) have slightly more elements in them, because they do not have the same symmetry as cross-species terms with identical species (O-O, Cs-Cs).

The pseudo-code is a bit simplified but is demonstra

[2021-04-30 06:19] shinkiyohara commented on #65
Thank you for your reply, Lauri!

I misunderstood that the final condition meant (n2 >= n1 ) and (Z2 >= Z1).
Now, I fully understood.

Thanks again!

Shin

[2021-04-30 06:22] lauri-codes commented on #65
Great!

[2021-04-30 06:22] #65 closed

[2021-04-30 06:24] lauri-codes commented on #52
Closing for now, reopen again if still relevant.

[2021-04-30 06:24] #52 closed

[2021-05-19 17:28] lauri-codes commented on #58
Hi @ryokbys!

Coming back to this issue in preparation for version 1.1.0: we will add a new weighting option for SOAP that will greatly increase the local resolution. Here is an example script of using it (the structure is here: [forsterite.zip](https://github.com/SINGROUP/dscribe/files/6510657/forsterite.zip)):

[code]

This produces the following plot for your structure:
![forsterite](https://us

[2021-06-08 19:37] lauri-codes commented on #63
@coolcodecamper: version 1.1.0 now has a new `attach`-argument in the `derivatives`-method that you can use to control this behaviour. If you want to test it out, you can clone the v1.1.0 branch and build it locally. We will also do an official release in the near future.

[2021-06-11 08:59] sandipde opened #66 "change default SOAP datatype to float64"
Hello,
      I started working with the refactored new versions 1.0.x  this week and found my perfect ML examples with SOAP descripters broke. lapack solver from sklearn complained and crashed for the optimal paramaters I had before. After spending quite some time investigating the issues I found the issue is casued by the change in default datatype in your soap routine  to "float32" conclusively.

[2021-06-16 11:58] lauri-codes commented on #66
Hi @sandipde!

Thank you very much for bringing this up. You are right in that we should set `float64` as the default for all descriptor values, since it is the safer option. I can do this as I add the `dtype`-parameter to other descriptors as well.

[2021-06-20 07:01] zdcao121 opened #67 "Global similarity"
Hi,
It's a great project.
I try to calculate the global similarity between different molecule and crystal structures. But I don't know whether the workflow of calculation is right. Attached is an example of calculating the global similarity between H2O and H2O2 molecule (using the example in the DScribe Tutorials). Could you tell me if something wrong with my way of calculating global similarity?

[2021-07-21 19:22] lauri-codes commented on #58
Closing this for now, please see the previous comment.

[2021-07-21 19:22] #58 closed

[2021-07-21 20:20] lauri-codes commented on #67
Hi @zdcao121!

Sorry that answering took so long, purely my mistake for forgetting to answer.

I don't see any fundamental issues with your code. The best parameters (rcut, nmax, lmax, sigma, etc.) heavily depend on the application, so I would strongly advise you to somehow optimize them for your data.

The only small issue I can see is that you are including too many species in your example (spec

[2021-07-23 03:59] zdcao121 commented on #67
Thanks @lauri-codes for your response.
I watched the codes of AverageKernel  and found that the global similarity calculated in the kernel was also derived from the pair-wise matrix. The difference between the kernel and my codes is that the normalization is not applied in my codes. After applying it, they get the same results.

[2021-07-23 16:14] lauri-codes commented on #67
Ok, great. Closing.

[2021-07-23 16:14] #67 closed

[2021-07-23 16:15] lauri-codes commented on #66
Now changed in 1.1.0.

[2021-07-23 16:15] #66 closed

[2021-07-23 16:15] lauri-codes commented on #63
@coolcodecamper The new option is now available in 1.1.0.

[2021-07-23 16:15] #63 closed

[2021-07-23 16:16] lauri-codes commented on #20
Now implemented in 1.1.0.

[2021-07-23 16:16] #20 closed

[2021-08-13 09:26] materialsguy opened #68 "Feature vector - "feature names""
Hello,

I'm currently analysing a machine learning model of somebody else, that is trained using soap feature vectors.
The code generating the feature vector looks something like that:

`
soap = SOAP(species=species, periodic=True, rcut=2.5, nmax=8, lmax=8, average="inner", sparse=False)
feature_vectors = soap.create(atoms, n_jobs=1)
`

Where `species` is a set that holds the different element nam

[2021-08-13 10:07] lauri-codes commented on #68
Hi @materialsguy!

This is an excellent topic. Some time ago I saw something similar in [matminer](https://hackingmaterials.lbl.gov/matminer/), where you can call `feature_labels()` to get some kind of information about the features. I do have this as one of the TODO's in our [kanban](https://github.com/SINGROUP/dscribe/projects/1), but as of now, it is not directly possible.

In practice implemen

[2021-08-13 11:21] materialsguy commented on #68
Thank you for the quick reply. I also think such an implementation would really help from a machine learning feature engineering & feature analysis perspective, especially when the analysis is done by somebody that has not the full knowledge about the feature vectors themselves from a physical point of view.
 I will try to have a look at the `get_location()`-method. Please let me know when you imp

[2021-10-04 15:22] benoitba opened #69 "Memory leak when computing multiple SOAPs in the same script"
Hi,

I am currently working on a project to use SOAP vectors as descriptors of atomic environments for protein pockets.
I was working with another package until now, and would like to use dscribe to compute soaps and derivatives. However working with protein system is quite large, and there is an issue of memory leak that I found while computing soaps for hundreds of proteins.

I tried to show thi

[2021-10-05 05:15] lauri-codes commented on #69
Hi @benoitba!

Thank you for reporting this. Indeed it looks like a memory leak based on your test script, thank you for providing it. We will take a look and try to find the culprit. If you want to quickly try something, you can downgrade to some previous version (e.g. 1.0.0), and try if the leak is present there.

-Lauri

[2021-10-05 10:21] benoitba commented on #69
The leak is not here on dscribe 1.0.0, so I will work with this version from now on. Thanks a lot for the advice, and hope you find the cause of the leak on the 1.1.0 version :)

[2021-10-13 08:21] zjujdj opened #70 "'nan' value occur in acsf descriptors"
hello,
i calculated the acsf descriptors for the atoms in a protein using following codes(dscribe==1.1.0), and i was confused by 'nan' value could occur for some atoms, does anyone know why? thanks.

**# codes**
[code]

**# outputs**
[code]

**# original file**
[1A2K_complex.3450_19.71_0](https://drive.google.com/file/d/10xV5EdDLngVW3jokew7h1Nd-sOo9kQic/view?usp=sharing)

[2021-10-13 20:09] lauri-codes commented on #70
Hi @zjujdj!

I think this is a case of some kind of a floating point overflow. Maybe at some point your G4 terms get a really large value for an exponent (since you have a very large system and large cutoff), which causes numerical problems. On my machine simply slightly decreasing rcut got rid of the problem. I can try and see if this particular case is fixable by increasing the precision on some

[2021-10-14 02:44] zjujdj commented on #70
Hi @lauri-codes :
many thanks for your timely reply, i tried a smller rcut value of 8A, it did slove many problematic cases, but not all. my system are some big ppi complexes, and i guess 8A is a reasonable cutoff to determine atom-atom interaction. Anyway, thanks for your suggestions.

[2021-11-16 21:12] lauri-codes commented on #70
Hi @aneepi, @zjujdj,

Please try out the new version v1.2.0: it uses larger precision for ACSF internally and should get rid of the nan values in most cases.

[2021-11-16 21:12] lauri-codes commented on #69
Now fixed in v1.2.0.

[2021-11-16 21:12] #69 closed

[2021-11-18 08:48] zjujdj commented on #70
@lauri-codes ,
Hi, thanks very much! i'll try the new version later!

[2021-11-18 08:57] lauri-codes commented on #70
Ok, great! Just re-open this issue if you still experience any problems.

[2021-11-18 08:57] #70 closed

[2021-11-19 12:41] Iximiel opened #73 "AttributeError: 'SOAP' object has no attribute '_check_system_list'"
When I try to calculate the derivative of the soap descriptor I get the following error:
[code]

I'm using dscribe installed with `pip install "dscribe==1.2.0`

If I comment the line with the call to `'_check_system_list'` I get no errors, but the value of the derivatives differ from the ones calculated with the 1.1.0 version

Thanks in advance
Daniele

[2021-11-20 04:31] ritwit opened #74 "GNU compiler warnings"
This is a minor issue but worth addressing.

The GCC compiler throws many warnings when compiling the C++ extensions of Dscribe. Some of them are obvious and easy to fix. It may be a good idea to take a look at each of these warnings and ensure that they are benign.

I can submit a PR to fix some of the easy ones.

Thanks!

[2021-11-26 11:17] pablos-p94 opened #76 "Issue with the Coulomb matrix descriptor"
Hi,

I was recently doing a study comparing several descriptors for some materials systems. For completeness I compared the effects of using the Coulomb Matrix from dScribe and Matminer. I was surprised at how different the results obtained with the two CM implementations are.

I looked at the raw CM outputs and indeed those from Matminer and dScribe are significantly different for the same system

[2021-11-27 16:20] lauri-codes commented on #74
Hi @ritwit!

You're absolutely right. We have mostly ignored these warnings which is definitely not a good practice... Thank you also for your pull request: I will take a look and include it in the next release.

[2021-11-27 17:07] lauri-codes commented on #76
Hi @pablos-p94!

Thank you for your message. This is a very good point that I can try to address.

Generally, it is a bad sign if your ability to train a model depends on the physical units that have been used. In this particular case I would expect that this is caused by the combination of two things:

1.  Coulomb matrix (and many other of the descriptors) have features that do not scale uniforml

[2021-11-27 18:28] lauri-codes commented on #73
Hi @Iximiel,

You are completely right. Our test pipeline was not picking up on this error due to a mistake in our scripts. I will make a hotfix for this.

[2021-11-27 19:16] lauri-codes commented on #73
Can you provide an example where the derivatives differ between v1.1.0 and v1.2.0? I could not reproduce any difference with a simple system using the following snippet:

[code]

Here are the resulting files when I run this with v1.1.0 from pip, and using v1.2.0 with the problematic line removed:

[derivatives_v1.1.0.txt](https://github.com/SINGROUP/dscribe/files/7612298/derivatives_v1.1.0.txt),
[

[2021-11-29 15:32] Iximiel commented on #73
Hi @lauri-codes,

I'm sorry about the derivatives:
I calculated the derivatives on a single configuration, and I saved the results of SOAP.derivatives in an `.npy` file with `numpy.save` and then I checked if the files from the two version were equals with `md5sum`.

I just verified that the numerical results are the very same, but in my script the 1.1.0 saves the results in an numpy array with on

[2021-11-30 06:51] lauri-codes commented on #73
Ok, that's good. I will fix our test pipeline and make a new working release v1.2.1. In the meantime there is no harm in disabling `_check_system_list`: It is only used to check your input parameter.

[2021-12-14 14:25] pablos-p94 commented on #76
Hi @lauri-codes,

First of all, thanks to you for your response and the useful explanation. Excuse me for the late response on the issue, as it was me who open it.

The idea of the previous message was not to make you adjust your amazing tool to some particular requirements of our project. Featurization of the descriptors is something that we are already doing, easier thanks in part to all the too

[2022-01-02 16:35] lauri-codes commented on #76
Hi @pablos-p94,

I agree that our baseline implementation should ideally follow the original definition, but fine-tuning the weighting of diagonal vs. off-diagonal elements is still up to the end user.

Could you point out the exact location where the units are discussed by the authors? Do they e.g. mention atomic units or Bohr explicitly somewhere in [the original article](https://journals.aps.or

[2022-01-02 20:48] #73 closed

[2022-01-13 07:41] ardunn opened #79 "dscribe setup broken with py 3.10.1?"
Seems like an upstream llvm-lite requirement does not work on py 3.10.1?

My system is

- Macbook Pro 2017
- Python 3.10.1
- MacOS Big Sur 11.6,
- Installing from within a virtual environment, not via conda

Tried installing updated llvm via homebrew but that didn't work

Stacktrace is:
[code]

[2022-01-19 17:34] lauri-codes commented on #79
Hi @ardunn!

We use the `sparse`-library for our sparse-matrices, which seems to have a dependency on `numba`, which has a dependency on `llvmlite`, which, depending on the version, might not yet support Python 3.10.

I was able to solve this issue on my machine (Ubuntu 20.04, python 3.10 + python3-10-dev package) by:

1. Update pip: `pip install --update pip`
2. Install llvmlite version that supp

[2022-01-27 13:51] kaipuolamaki opened #80 "Please make dscribe available at conda-forge/osx-arm64 channel"
dscribe can be installed through conda-forge. dscripe is not however available for the conda-forge/osx-arm64 channel, which is native for the new Macs with M1 processors. As a work-around it is possible to install the osx-64 version, but this causes conflicts with some other numeric software releases.

[2022-01-31 22:10] lauri-codes commented on #80
Hi @kaipuolamaki!

I can take a look at this.

[2022-02-07 06:13] lauri-codes commented on #80
Hi @kaipuolamaki,

Can you try if you can now find and successfully install DScribe for the osx-arm64-platform? It is now added into our conda-forge setup, but I can't test it myself.

[2022-02-07 07:19] kaipuolamaki commented on #80
Works, thanks.

[code]

[2022-02-07 07:43] #80 closed

[2022-02-16 16:40] lauri-codes commented on #79
I have confirmed that our test pipeline does now run through correctly for python 3.10. If you still experience problems, re-open this issue.

[2022-02-16 16:40] #79 closed

[2022-03-08 04:17] tsitsvero opened #83 "SOAP computation hangs when `calc` is not `None` in ASE trajectory"
Seems like there's a bug that hangs computations of SOAP descriptors when the input ASE trajectory snapshots have calculators assigned.
Tried with dscribe 1.2.1.

[code]

[2022-03-14 08:24] zjujdj opened #84 "Can dscribe encode the atom type not in the list as "unkown type" in acsf calculation?"
hi, some atom types in my system are not such abundant, if i want to successful calculate the acsf descriptors for those systems, i must add the un-abundant atom types into the atom list, and result in the quick increase of acsf descriptors demension. So, can dscribe encode the un-abundant atom types into an unified "unkown type" and successful calculate the acsf descriptors  for such systems?

ma

[2022-03-14 09:23] lauri-codes commented on #84
Hi @zjujdj!

This you can do when you are instantiating the ASE.Atoms objects: just change the chemical species there before feeding them into `ascf.create()`. Example:

[code]

Because this is quite easy to do when preparing your dataset there is no specific functionality for doing this directly with dscribe.

[2022-03-14 11:21] zjujdj commented on #84
@zjujdj
ohh...that looks good! many thanks, bro.

[2022-03-14 11:45] #84 closed

[2022-03-26 14:21] zhuangyuan97 opened #85 "Descsize of ASCF"
Hello，
        I have a question about descsize. In ASCF, for example, the descsize of `H2O(g2_params=[[1, 1], [1, 2], [1, 3]],
    g4_params=[[1, 1, 1], [1, 2, 1], [1, 1, -1], [1, 2, -1]],` ) in get_number_of_features is (3+1)*2+ 4*3 = 12，I thought it shuold be 3 + 4 =7，I don`t understand the n_type_pairs and n_t_types.  Forgive my poor English.

Many thanks for your contribution.

Zhuang Yuan

[2022-03-30 19:37] lauri-codes commented on #85
Hi @zhuangyuan97,

`n_types` means the number of different atomic species (in H20 that is 2: Oxygen and Hydrogen)
`n_type_pairs` means the number of different combinations of pairs of atomic species (in H2O that is 3: O-O, H-H, O-H)

So each atomic species gets each of the G2 terms and one G1 term + each atomic species pair gets each of the G4 terms.

Hope this helps, more in-depth explanation in

[2022-03-30 19:38] lauri-codes commented on #76
Closing for now as there was no reply, re-open if required.

[2022-03-30 19:38] #76 closed

[2022-04-07 08:26] liudy02 opened #86 "conda channel has no function for features' derivatives"
It seems like the version in the conda channel is not the lastest version

[2022-05-12 05:49] #85 closed

[2022-05-12 20:04] GravityPHY commented on #69
Hi, I understand this issue has been fixed. I am curious to know what cause the memory leak in v1.1.0, I tried using del some varibales in the loop and gc.collect(), that way didn't solve the memory leak problem.

[2022-05-13 05:12] lauri-codes commented on #69
Hi @GravityPHY!

Yes, the problem has been fixed from v1.2.0 onwards. You may not notice it, but like many other Python libraries that target high performance, we are using C/C++ extensions underneath to do the heavy lifting. This is where the memory leak was happening (missing `free` somewhere). It would be really hard to introduce a memory leak with python only :)

[2022-06-20 10:52] MomoLangenstein opened #89 "`CoulombMatrix(permutation="sorted_l2")` is not symmetric"
When using the `dscribe` Python library, v1.2.1, Coulomb matrices generated using the `sorted_l2` permutation are no longer symmetric matrices. I compared dscribe's result with a manual implementation of the sorting based on [doi:10.1002/qua.24954](https://doi.org/10.1002/qua.24954) to check that the algorithm in general works.

This manual implementation matches https://github.com/SINGROUP/dscrib

[2022-06-27 18:45] lauri-codes commented on #89
Hi @MomoLangenstein,

Thanks for the report. I need to check what is going on. If this is the case, we definitely need to fix it and introduce a better test that also checks the symmetricity.

[2022-07-13 10:05] Petkomat opened #90 "Naming incosistency of rcut in SOAP and MBTR"
Both SOAP and MBTR descriptors take cutoff radius as one of the parameters, i.e.,

- `soap = SOAP(rcut=<value>, ...)`
- `mbtr = MBTR(k2={"weighting": {"r_cut": <value>, ...}, ...)`

Probably, the naming inconsistency (`rcut` and `r_cut`) should be removed.

[2022-07-19 19:08] braxtonowens opened #91 "Potential memory leak in MBTR"
Thanks for the awesome software and great documentation.

Out of curiosity, I wanted to see how well MBTR could represent a large pure grain boundary system(<10000 atoms on average).

I do not think MBTR is best suited for representing these types of systems, but nonetheless I thought it would be beneficial to see for myself.

I have 7034 unique aluminum grain boundaries stored as LAMMPS dump file

[2022-07-20 05:55] lauri-codes commented on #89
Hi @MomoLangenstein,

Indeed there was an issue where the rows and columns of the matrix were not being permuted as expected, causing non-symmetric matrices. There is now a fix in the branch v1.2.2, which will be made into a release in the near future.

It would be great if you can verify this fix as well. I have added a new symmetricity test into our test suite and your examples now also pass aft

[2022-07-25 13:35] MomoLangenstein commented on #89
Hi @lauri-codes,

Thank you for working out the fix for this issue! I can confirm that my small test now works on the `v1.2.2` branch. I just wanted to clarify your proposed change to the manual Python implementation. If I do use
[code]
instead of
[code]
I get exactly the same results with my manual implementation as with `dscribe`. Are both methods semantically correct, and only differ in their h

[2022-07-27 12:45] lauri-codes commented on #91
Hi @braxtonowens!

Thanks for the report. I will look into this when I get a chance. I think the test needs to run the `create`-function several times and see if the memory usage goes out of control even with the garbage collection kicking in.

[2022-07-27 13:12] lauri-codes commented on #89
Hi,

Yes, the sorting simply affects the way that rows with equal norm are handled. If there are no equal norms, then the output is completely independent of the sorting algorithm (see e.g. the `kind` attribute in the [numpy docs](https://numpy.org/doc/stable/reference/generated/numpy.argsort.html)) and whether you do `np.argsort(-row_norms)` or np.argsort(row_norms)[::-1].

The small differences

[2022-08-01 17:08] lauri-codes commented on #90
Good point. Will be fixed in 1.2.2 where the docs and examples prefer the `r_cut` form, but the old names still work for backwards compatibility.

[2022-08-01 19:15] lauri-codes commented on #90
Now fixed in v1.2.2

[2022-08-01 19:15] #90 closed

[2022-08-01 19:15] lauri-codes commented on #89
Now fixed in v1.2.2.

[2022-08-01 19:15] #89 closed

[2022-08-01 19:21] lauri-codes commented on #83
That is quite interesting... DScribe is not directly using the calculator objects for anything, so I'm not sure where this is coming from. DScribe could always unassign the `calc`-property from the systems, but that does not seem right either if the user is not expecting this. Making a copy is an option but it may be quite expensive to do. Needs some thinking, but the workaround of unassigning the

[2022-08-04 09:37] tsitsvero commented on #83
Thanks! I'll also let know if this problem will persist in the future.

[2022-09-19 13:58] VondrakMar opened #95 "Analytical derivatives of SOAP"
Hello,
I noticed that
[code]
is not working (ValueError: Analytical derivatives not currently available when attach=True.).

May i ask if there is any plan of implementing attaching a SOAP to the displaced atom with analytical derivatives, please?

[2022-09-20 07:40] lauri-codes commented on #95
Hi @VondrakMar,

Yes, the analytical derivatives are not currently available with this option. At the moment there are no plans for implementing them, but it may be possible if there are several requests for this. Currently, you can still get them by using `method="numerical" ` which will just be somewhat slower.

[2022-10-21 04:29] lundnguy opened #96 "Identical geometry but similarity < 1"
Hi everyone,

I tried to use SOAP/AverageKernel to determine the similarity between a H2O and a H2S molecule (exactly the same geometry, the difference is "O" and "S") I got the off-diagonal components < 1  (0.777).  Probably I missed something but I think they should be 1.
Am I wrong?

The input and geometry files are  provided below.

Thanks,

Lund

input file
-------
[code]

---------
H2O.xyz f

[2022-10-21 07:09] lauri-codes commented on #96
Hi @lundnguy,

Typically the descriptors also take the chemical species into account. In the case of SOAP, the geometrical features for each species are written into different "channels" in the output. This is why there is a difference between your structures. If you want to only compare the geometry and ignore the species, just set all of your species e.g. to 'H' in the original structures that y

[2022-10-21 22:57] lundnguy commented on #96
Hi @lauri-codes

Thank you.

I further calculated the similarities between H2O and H2Pb, between H2S and H2Pb. It appeared that they are the same as that between H2O and H2S (0.777).  (Again, all molecules have exactly the same geometry, the difference is the chemical species O, S, Pb).  Is there any reason why this happened?

The input file is provided below.

Thanks,
Lund

[code]

[2022-10-31 10:30] Nilsgoe commented on #95
Besides the `method="analytical` also  `periodic = True` seems not be available for soap.derivatives. I would be interested in both options.

[2022-10-31 16:43] lauri-codes commented on #96
Hi @lundnguy,

The distance measure you are using (metric="linear" is essentially the dot product between two vectors) does not have a special notion of chemical distances between elements. It is simply a linear metric in a space where all species live in different dimensions (= different parts of the output).

There is no "universal distance" between chemical elements as any useful distance is ap

[2022-10-31 17:57] lauri-codes commented on #95
@Nilsgoe: Would numerical SOAP derivatives for periodic systems be OK for you? If so, could you create a new issue and we can continue discussion there.

[2022-11-01 10:45] Nilsgoe opened #97 "Numerical SOAP derivatives for periodic systems"
Hi,
as mentioned in issuer #95, for  ` deriv , desc = soap.derivatives(mol, ... )` the option of calculating SOAP derivatives for periodic systems `periodic = True`  is currently not available. I would be interested in this option and hoped  it could  be added in the future.

[2022-11-01 20:24] braxtonowens commented on #91
Just wondering about the state of this change.

Also, I thought you should know that when I try and describe materials with a large amount of atoms(~188,000), my nodes run out of available memory. Specifically, this was tested with SOAP and ACSF. I only mention this because quippy SOAP seemed to be able to handle that size.

[2022-11-05 09:48] Aki78 commented on #97
Hi,
Thank you for the suggestion. We will see what we can do, and try to get back to you in a few weeks.

[2022-11-07 07:10] lundnguy commented on #96
Thank you!

[2022-11-07 07:42] #96 closed

[2022-11-21 12:03] Aki78 commented on #97
We have made a plan to implement soap derivatives, both numerical and analytical, on periodic systems  (with some constraints). We will make an effort to finish it by the end of this year.